body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #38bdf8;
}

/* Layout */
.container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.left, .right {
    flex: 1;
    background: #020617;
    padding: 15px;
    border-radius: 10px;
    height: 80vh;
    overflow-y: auto;
}

/* Alert Cards */
.card {
    background: #1e293b;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
}

.high {
    color: red;
}

.medium {
    color: orange;
}

/* Timeline */
.timeline-item {
    border-left: 2px solid #38bdf8;
    padding-left: 10px;
    margin-bottom: 10px;
}

.chart-container {
    width: 400px;
    height: 250px;
    margin: 20px auto;
}