<!DOCTYPE html>
<html>
<head>
    <title>SIEM + DFIR Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>SIEM + DFIR Dashboard</h1>
<h3>Total Logs: <span id="logCount"></span></h3>

<div class="container">

    <!-- Alerts -->
    <div class="left">
        <h2>Alerts</h2>
        <div id="alerts"></div>
    </div>

    <!-- Timeline -->
    <div class="right">
        <h2>Timeline</h2>
        <div id="timeline"></div>
    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>